# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\KRAIOS-CODE-1\java-telegram-app\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
